
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

// Pantalla Mediana
@media screen and (max-width: 800px) and (min-width: 500px){
  ion-content {
    --background: rgba(24, 157, 180, 0.753);
  }
  
}

// Pantalla Pequeña
@media screen and (max-width: 500px){
  ion-content {
    --background: rgba(201, 60, 189, 0.753);
  }
  
}

//Pantalla Grande
@media screen and (min-width: 800px){
  ion-content {
    --background: rgba(145, 142, 10, 0.753);
  }
  
}

@media only screen and (orientation: portrait){
  ion-toolbar{
    --background:rgba(111, 0, 255, 0.753) ;
  }

  strong {
    display: none;
    visibility: hidden;
  }
}